# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.


# SingleStore
SINGLESTORE_USER="0"
SINGLESTORE_PASS="0"
SINGLESTORE_HOST="0"
SINGLESTORE_PORT="0"
SINGLESTORE_DB_NAME="0"
